<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages4" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Info
        </ion-list-header>
        <!-- <button ion-item menuClose *ngFor="let p of aboutPage" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button> -->
        <button ion-item menuClose *ngFor="let p of infoPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button> 
      </ion-list> -->
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-avatar item-start>
            <img src="assets/img/zul.png">
          </ion-avatar>
          <h2>{{name}}</h2>
          <p>Credit balance: {{credit}}</p>
        </button>
        <!-- <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button> -->
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <button ion-item menuClose *ngFor="let p of appPages3" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Payment
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of paymentPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list> -->

      <ion-list>
        <ion-list-header>
          Info
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of infoPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <!-- <button ion-item menuClose *ngFor="let p of otherPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button> -->
      </ion-list>

      <!-- <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list> -->

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
